[Unit]
Description=NOC supervisor service
After=network.target

[Service]
WorkingDirectory=/opt/tower
User=tower
ExecStart=/opt/tower/bin/tower-web

[Install]
WantedBy=multi-user.target
