[Unit]
Description=NOC supervisor backup service

[Service]
Type=oneshot
WorkingDirectory=/opt/tower
User=tower
ExecStart=/bin/bash -c "/opt/tower/bin/tower-dump --output /opt/tower_backup/`date +%%Y-%%m-%%d-%%H:%%M`.dump"
ExecPostStart=/bin/bash -c "find /opt/tower_backup/ -mtime +5 -exec rm {} \;"


[Install]
WantedBy=multi-user.target
