[bumpversion]
current_version = 0.4.5
commit = False
tag = False
serialize = {major}.{minor}.{patch}

[bumpversion:file:VERSION]

[bumpversion:file:tower/ui/desktop_ui.js]

[bumpversion:part:prerel]
optional_value = d
values = 
	dev
	a
	b
	c
	rc
	d

