[bumpversion]
current_version = 1.0.2
commit = False
tag = False
serialize = {major}.{minor}.{patch}

[bumpversion:file:VERSION]

[bumpversion:file:tower/ui/desktop_ui.js]

[bumpversion:file:contrib/k8s/noc-tower/Chart.yaml]

[bumpversion:part:prerel]
optional_value = d
values = 
	dev
	a
	b
	c
	rc
	d
