.service-detail {
  border: 2px solid black;
  border-collapse: collapse;
}

.service-detail TD, .service-detail TH {
  border: 1px solid black;
}

.service-detail .pool {
  font-weight: bold;
}

.service-detail .service {
  font-weight: bold;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  width: 30px;
  height: 120px;
}

.service-detail .node {
  font-weight: bold;
}

.service-detail TD {
  text-align: center;
}
